.rodape{
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape img{
    width: auto;
    height: auto;
}